{% extends 'base.html.twig' %}
{% block body %}


    {% block title %}About us{% endblock %}


    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      

      <div class="card bg-dark text-white">
  <img src="https://cdn.pixabay.com/photo/2020/09/02/18/33/portland-head-light-5539153_960_720.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">About us</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Our Vision</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-outline-success">Learn more</a>
        </p>
      </main>


  </body>
</html>




{% endblock %}